{% extends 'base.html' %}

{% block title %} User Profile {% endblock %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<p>Email: {{ user.email }}</p>


<form method="POST">
  {{form.hidden_tag()}}
  <button formaction="/logout" type="submit" class="btn btn-primary">Logout</button>
  <button formaction="/delete" type="submit" class="btn btn-primary">Delete User</button>
  <button formaction="/add_note" type="submit" class="btn btn-primary">Add Note</button>
</form>

<ul>
  {% for note in user.notes %}
  <li>
    <form>
      <button formaction="" class="bi bi-trash"></button>
      <button formaction="" class="bi bi-pencil-square"></button>
      <b>{{ note.title }}</b> {{ note.content }}
    </form>

  </li>

  {% endfor %}
</ul>
<!--TODO: FILL IN FORMACTION ROUTES AND DO URL FOR FOR DELETE AND LOGOUT-->

{% endblock %}